<section
    id="about"
    class="relative bg-white -mt-8 md:-mt-12 rounded-t-[40px] z-10 min-h-screen flex items-center" >

    <div
        class="max-w-7xl mx-auto px-8 py-24">

        <div
            class="grid lg:grid-cols-2 gap-12 items-center lg:min-h-[80vh]">

            <!-- Left -->

            <div>

         <img
          src="/images/hero/aboutme.png"
          alt="Profile"
          class="w-full h-[600px] lg:h-[720px] object-cover rounded-3xl">
            </div>

            <!-- Right -->

            <div>
              
                <p id="typingText"
                 class="uppercase tracking-[0.3em] text-sm text-[#083336] font-medium h-6">
                </p>
                <br>
                <h2
                    class="text-5xl font-semibold text-[#083336] mb-8">

                    About Me

                </h2>

                <p
                    class="leading-9 text-gray-600 text-lg mb-10">

                    Hi, I'm Khadija Murtaza Timber, a passionate Full Stack
                    Developer who enjoys building clean, responsive,
                    and user-friendly web applications. I love creating
                    beautiful digital experiences using JavaScript,
                    Express.js, MongoDB, Tailwind CSS, and modern web
                    technologies.

                </p>

            </div>

        </div>

    </div>

</section>