<section
    id="about"
    class="min-h-screen bg-white">

    <div
        class="max-w-7xl mx-auto px-8 py-28">

        <div
            class="grid lg:grid-cols-2 gap-20 items-center">

            <!-- Left -->

            <div>

                <img
                    src="/images/hero/aboutme.png"
                    alt="Profile"
                    class="w-full object-cover">

            </div>

            <!-- Right -->

            <div>
              
                <p id="typingText"
                 class="uppercase tracking-[0.3em] text-sm text-[#083336] font-medium h-6">
                </p>
                
                <h2
                    class="text-5xl font-semibold text-[#083336] mb-8">

                    About Me

                </h2>

                <p
                    class="leading-9 text-gray-600 text-lg">

                    Hi, I'm Khadija Murtaza Timber, a passionate Full Stack
                    Developer who enjoys building clean, responsive,
                    and user-friendly web applications. I love creating
                    beautiful digital experiences using JavaScript,
                    Express.js, MongoDB, Tailwind CSS, and modern web
                    technologies.

                </p>

            </div>

        </div>

    </div>

</section>