<section id="home" class="relative h-[60vh] sm:h-[75vh] md:h-screen w-full overflow-hidden">

    <img src="/images/hero/banner.png"
    alt="Hero Banner"
    class="fade-up delay-1 hidden md:block absolute inset-0 w-full h-full object-cover object-center z-0">

     <img src="/images/hero/banner-mobile.png"
    class="fade-up delay-1 block md:hidden absolute inset-0 w-full h-full object-cover object-center z-0">

    <button id="menuBtn"
           class="absolute top-6 right-6 z-50 w-56 md:top-20 md:right-6 bg-white rounded-xl shadow-lg
           opacity-0 invisible -translate-y-3
           transition-all duration-300">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 text-[#083336]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">

            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"/>

        </svg>

    </button>

</section>

<!-- MENU OVERLAY -->

<div
    id="menuOverlay"
    class="fixed inset-0 bg-white z-[100] translate-x-full transition-transform duration-500">

    <button
        id="closeBtn"
        class="absolute top-6 right-6">

        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 text-[#083336]"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">

            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"/>

        </svg>

    </button>

    <div class="h-full flex justify-center items-center">

        <ul class="space-y-8 text-center">

            <li><a href="#home" class="menu-link text-3xl text-[#083336]">Home</a></li>

            <li><a href="#about" class="menu-link text-3xl text-[#083336]">About</a></li>

            <li><a href="#skills" class="menu-link text-3xl text-[#083336]">Skills</a></li>

            <li><a href="#projects" class="menu-link text-3xl text-[#083336]">Projects</a></li>

            <li><a href="#resume" class="menu-link text-3xl text-[#083336]">Resume</a></li>

            <li><a href="#contact" class="menu-link text-3xl text-[#083336]">Contact</a></li>

        </ul>

    </div>

</div>