<section id="skills" class="bg-[#083336] mt-12 py-28">

    <div class="max-w-7xl mx-auto px-6">

        <!-- Heading -->
        <div class="text-center mb-20">

            <p class="uppercase tracking-[0.3em] text-white/70 mb-3">
                My Expertise
            </p>

            <h2 class="text-5xl font-semibold text-white">
                Professional
                <span class="font-light">Skillset</span>
            </h2>

        </div>

        <div
            id="skillsGrid"
            class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

            <!-- HTML -->
            <div class="skill-card">
                <i class="devicon-html5-plain colored text-4xl"></i>
                <span>HTML5</span>
            </div>

            <!-- CSS -->
            <div class="skill-card">
                <i class="devicon-css3-plain colored text-4xl"></i>
                <span>CSS3</span>
            </div>

            <!-- JavaScript -->
            <div class="skill-card">
                <i class="devicon-javascript-plain colored text-4xl"></i>
                <span>JavaScript</span>
            </div>

            <!-- Tailwind -->
            <div class="skill-card">
                <i class="devicon-tailwindcss-original colored text-4xl"></i>
                <span>Tailwind CSS</span>
            </div>

            <!-- Node -->
            <div class="skill-card">
                <i class="devicon-nodejs-plain colored text-4xl"></i>
                <span>Node.js</span>
            </div>

            <!-- Express -->
            <div class="skill-card">
                <i class="devicon-express-original text-4xl text-white"></i>
                <span>Express.js</span>
            </div>

            <!-- EJS -->
            <div class="skill-card">
                <i class="devicon-ejs-original colored text-4xl"></i>
                <span>EJS</span>
            </div>

            <!-- MongoDB -->
            <div class="skill-card">
                <i class="devicon-mongodb-plain colored text-4xl"></i>
                <span>MongoDB</span>
            </div>

            <!-- Python -->
            <div class="skill-card">
                <i class="devicon-python-plain colored text-4xl"></i>
                <span>Python</span>
            </div>

            <!-- Postman -->
            <div class="skill-card">
                <i class="devicon-postman-plain colored text-4xl"></i>
                <span>Postman</span>
            </div>

            <!-- C -->
            <div class="skill-card">
                <i class="devicon-c-plain colored text-4xl"></i>
                <span>C Language</span>
            </div>

        </div>

    </div>

</section>